@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin: auto; text-align: center;">
        <h1>UNDER <br />MAINTENANCE</h1>
        <p>For any query please, contact <br/>
        NVIT<br/>
        Mainuddin Chy<br/>
        Contact: <br/>
        Email:</p>
    </div>
</body>
</html>
